html {
  color: #f29e1d;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
}

body {
  background: url("../images/unsplash/street/street.jpg") no-repeat center center fixed; /*Photo by <a href="https://unsplash.com/@levimeirclancy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Levi Meir Clancy</a> on <a href="https://unsplash.com/s/photos/counter-strike?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 60px;
  margin: 0;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}

h3,
h4 {
  color: white;
  font-size: 22px;
  margin-bottom: -10px;
  margin-left: 20px;
}

p {
  background: rgba(0, 0, 0, 0.4);
  color: #ffeb00;
  letter-spacing: 1px;
  line-height: 2;
  margin: 10px 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: justify;
}

a:link {
  color: #00e7ff;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
}

h3 ~ h3 {
  margin-top: 40px;
  text-align: center;
}

ul {
  background-color: rgb(255, 215, 0, 0.9);
  border-radius: 50%;
  color: black;
  list-style-type: none;
  margin: 20px auto;
  padding: 40px;
  text-align: center;
  width: fit-content;
}

li {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
}

.socials {
  font-size: 32px;
  margin-left: 20px;
  margin-top: 10px;
  width: fit-content;
}

.fab.fa-facebook-square {
  color: rgb(66, 103, 178);
}

.fab.fa-twitter-square {
  color: rgb(29, 161, 242);
}

.fab.fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socials > a:hover {
  opacity: 0.9;
}

footer {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 640px) {
  li {
    font-size: 13px;
  }
}